*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    margin: 80px;
}
nav{
    width: 1140px;
padding: 12px 80px;
text-align: center;
}
#chooseSection{ 
    display: inline-block;
    margin: 0 170px;
    color: #323232;
}
#chooseSection p{
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
}
nav input{
    padding: 8px 16px;
    font-size: 14px;
    border: 1px solid #AC00FF;
    color: #AC00FF;
    border-radius: 8px;
    background-color: #E9D7FE;
}
#dontMargin{
    margin:  0;
}
